Search from Telegram with Brave MCP/Telegram_MCP_BraveSearch.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "af9b297d-0f8f-408f-a4d6-7545a94e8a38",
      "name": "List Brave Tools",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        1380,
        1380
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "IOjGS8WAq8p7Jgcr",
          "name": "Brave Search MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $json.tools[0].name }}",
        "toolParameters": "={\n  \"query\":\"{{ $('Clean query').item.json.query }}\"\n}"
      },
      "id": "c3265586-a376-4d02-8f33-828bbba6d221",
      "name": "Exec Brave tool",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        1620,
        1380
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "IOjGS8WAq8p7Jgcr",
          "name": "Brave Search MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const originalText = item.json.text;\n\n  const query = originalText.replace(\"/brave \", \"\");\n\n  item.json.query = query;\n}\n\nreturn $input.all();\n"
      },
      "id": "adbfe84e-ab4a-4640-bb52-fcb06f9d1450",
      "name": "Clean query",
      "type": "n8n-nodes-base.code",
      "position": [
        1120,
        1380
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $('Get Message').item.json.message.from.id }}",
        "text": "={{ $json.result.content[0].text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "9905cad4-e847-44be-8cc4-69fd427ce8a1",
      "name": "Send message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1860,
        1380
      ],
      "webhookId": "b48bb09b-e019-46a2-994b-8058f65e6442",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "Bgp9UrckaCQe94hN",
          "name": "Smartvan bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "bf0e7c48-bbc8-4efd-9083-2fa965902453",
      "name": "Get Message",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        380,
        1400
      ],
      "webhookId": "07c09a64-758b-40ea-8c24-d999048781c3",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "cBRrJwE32Grhd5QR",
          "name": "__YOUR_BOT__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9c5ea127-cbbb-4304-8a93-b47b5c09b837",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/brave "
            }
          ]
        },
        "options": {}
      },
      "id": "b37c6f84-bceb-476c-9a7c-5682a4e69f8d",
      "name": "Search with Brave?",
      "type": "n8n-nodes-base.if",
      "position": [
        640,
        1400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "the search only occurs when the command \"/brave\" is present in the message",
        "height": 260
      },
      "id": "073eb8d2-9026-4031-af01-850342a5c5ca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        580,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "I clean the message by removing the \"/brave\" command",
        "height": 260,
        "width": 220
      },
      "id": "eb76fbed-0ba0-4a56-a1fe-65e4bfb38ea8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all available Brave search tools",
        "height": 260,
        "width": 180
      },
      "id": "980bf4e1-15cf-4276-b746-343850ec4b6f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "I get the search results",
        "height": 260,
        "width": 180
      },
      "id": "2c712ec4-2184-4136-bd21-f17e19fb029e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1580,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "029f4e7e-b367-4aa9-863e-e372694940fb",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c526a9e-f3a2-433c-aeb1-ced2e5af6a12",
      "name": "Get Text",
      "type": "n8n-nodes-base.set",
      "position": [
        900,
        1380
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "List Brave Tools": {
      "main": [
        [
          {
            "node": "Exec Brave tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exec Brave tool": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean query": {
      "main": [
        [
          {
            "node": "List Brave Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Search with Brave?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search with Brave?": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text": {
      "main": [
        [
          {
            "node": "Clean query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateId": "3231",
    "instanceId": "b1ce8e5c04da7f5185dd4c2f1e26386329ea2f8084595de56b53334d661cd00e"
  }
}