Build and ask RAG Agent/RAG_agent.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant. your job is to answer user query using get_info tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        980,
        680
      ],
      "id": "913fc080-d5fd-4729-bbb2-487b1a3e4491",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "__REPLACE_ME__",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        380,
        720
      ],
      "id": "3e704e76-e9a7-441b-9e55-6684fdcdb6d2",
      "name": "Webhook1",
      "webhookId": "__REPLACE_ME__"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1820,
        680
      ],
      "id": "0f22ea0a-5ba2-409a-a19b-25cb7c6ba209",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        640,
        980
      ],
      "id": "dfe816f8-dd85-40fb-b111-f666a145b007",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "__REPLACE_ME__",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.sessionId }}",
        "tableName": "n8n_chat",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        920,
        980
      ],
      "id": "a9e8c4a1-7e1f-4824-b0bd-83553ac96cae",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "__REPLACE_ME__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "name": "get_info",
        "description": "use this tool to retrieve information from vector store",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1180,
        900
      ],
      "id": "eef4bf7f-d232-43e6-b088-adca66fc8a36",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "vectors_data",
          "mode": "list",
          "cachedResultName": "vectors_data"
        },
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $json.userId }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1020,
        1120
      ],
      "id": "4fcfa8fa-d886-4168-9e4f-b9d3b7c99df7",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "2doXqcewindbf7hn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1020,
        1300
      ],
      "id": "b96c6296-b885-4746-9989-7571cc7c701f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "__REPLACE_ME__",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        1100
      ],
      "id": "fcba26b8-2ce5-4889-93a5-ee2059d03af4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "__REPLACE_ME__",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 820,
        "width": 2060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        640
      ],
      "id": "2d1ef8d5-c2fc-4a01-837e-a91381c69236",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b264c884-576c-4d95-a287-02fe046904d4",
              "name": "=sessionId",
              "value": "={{ $json.body ? $json.body.sessionId : $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "a682ab8a-841b-462e-8b4b-661df359d52c",
              "name": "message",
              "value": "={{ $json.body ? $json.body.message : $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "42f02b7e-f584-445d-a0ec-d772fa47abd5",
              "name": "userId",
              "value": "={{ $json.body ? $json.body.userId : \"test\"}}",
              "type": "string"
            },
            {
              "id": "975abb7d-68e6-4af4-bc8e-ac0513f6aeef",
              "name": "dataSource",
              "value": "={{ $json.body ? \"webhook\": \"test\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        680
      ],
      "id": "09379806-43de-4b5a-bd9e-d30e719037ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.dataSource }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cdeaa964-565c-4b54-9dd0-590ac521396c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Webhook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        680
      ],
      "id": "c2499cd5-17de-437e-9540-6ec15ef4cb68",
      "name": "Data source"
    },
    {
      "parameters": {
        "content": "## Chat with files from Supabase Vector Database. \n\nThis allows sending data not only from webhook, other triggers such as Telegram, n8n chat or whatsapp can be added, setting right dataSource on Edit field's node, and switch the response channel depending on this value. \n\nMake sure the userId also matches the one stored in Supabase for having access to vector store\n",
        "height": 360,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        740
      ],
      "typeVersion": 1,
      "id": "61862443-ced1-4442-a980-9f3345cd9307",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Data source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data source": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1ce8e5c04da7f5185dd4c2f1e26386329ea2f8084595de56b53334d661cd00e"
  }
}